<iframe class="rumble" width="600" height="338" src="https://rumble.com/embed/vg62mv/?pub=hqayd" frameborder="0" allowfullscreen></iframe>
<h1>I Believe by Joe D'Amico</h1>

When you believe in (receive and put your trust in) the Lord Jesus Christ, God transforms you into one of His beloved children, and translates you out from the "kingdom of darkness" and into His "Kingdom of Light!" You are totally forgiven, and you receive the God's righteousness, eternal life with Him, and much, much more! All you have to do is Believe!
