<iframe class="rumble" width="600" height="338" src="https://rumble.com/embed/vcto4l/?pub=4" frameborder="0" allowfullscreen></iframe>
<h1>It Is Well (With My Soul) by Joe D'Amico</h1>

The original version of the classic hymn, "It is Well With My Soul" was born out the personal tragedy in the life of author Horatio Spafford. This is well reflected in its somber and haunting Chorus. But for me today, "It is Well With My Soul" is a proclamation of the great and amazing things that Jesus died to give me, and reflects who I am 'in Christ'! I hope you are blessed with this latest revision and that "it is well with your soul!"
